.name-a{
        margin: 30px 20px;
    border: 1px solid #161313;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    color: #0c0e0d;

}
