/* .name-a{
        margin: 30px 20px;
    border: 1px solid #161313;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    color: #0c0e0d;

} */


/* .label-name{
    font-weight: bold;
    font-size: 22px;

}


.user-name{
    height: 26px;
    margin: -2px;
    border-radius: 9px;
    border: 1px solid black;

    color:white;
} 
.login-button{
    margin-top: 20px;
    background: yellow;
}
.login-block{
border: 2px solid black;
    width: 214px;
    margin: auto;
    padding: 10px;
} */



.user-name{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.enter user-name{
    border: 2px solid black;
    margin: 9px;
    border-radius: 6px;
    height: 31px
}

.pass-word{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.enter pass-word{
border: 2px solid black;
    margin: 9px;
    border-radius: 6px;
    height: 31px;
}

.log-in{
    margin-top: 20px;
    background: blue;
    color: white;
    height: 29px;
    width: 177px;
    border-radius: 12px;
}
.login form{
    border: 2px solid black;
    padding: 20px;
}

.login info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}